{{ $leafpages := partial "getleafpages.html" . }}

{{ $hasTracks := false }}
{{ range $leafpages }}
  {{ range .Resources.Match "*.gpx" }}
    {{ $hasTracks = true }}
  {{ end }}
{{ end }}

{{ if $hasTracks }}
<div id="mapid" style="width: 100%; height: 50vh;" class="mb-2"></div>
<script>
initMap();
var promises = [];
{{ range $leafpages }}
    {{ $page := . }}
    {{ range .Resources.Match "*.gpx" }}
        promises.push(
            showGPX("{{ .Permalink }}", colors[nextColor()]).then(function (featuregroup) {
                featuregroup.bindPopup('<strong><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></strong>');
            })
        );
    {{ end }}
{{ end }}
Promise.all(promises).then((values) => {
  if (bounds) map.fitBounds(bounds);
});
</script>
{{ end }}
