{{ $hasTracks := gt (len (.Resources.Match "*.gpx")) 0 }}
{{ $hasGeotaggedPhotos := false }}
{{ range .Resources.ByType "image" }}
  {{ with .Exif }}
    {{ if and (.Lat) (.Long) }}
      {{ $hasGeotaggedPhotos = true }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if or $hasTracks $hasGeotaggedPhotos }}
<div id="mapid" style="width: 100%; height: 50vh;" class="mb-1"></div>
<script>
$(document).ready(function() {
initMap();
var promises = [];
{{ range .Resources.Match "*.gpx" }}
    promises.push(
        showGPX("{{ .Permalink }}", colors[nextColor()]).then(function (featuregroup) {
            featuregroup.bindPopup('<strong>{{ .Name }}</strong><br>'
            + '<a href="{{ .Permalink }}"><i class="fa fa-map-signs fa-fw"></i> {{ i18n "downloadGPXfile" }}</a><br>'
            + '<a href="https://map2gpx.fr?url={{ .Permalink }}"><i class="fa fa-map fa-fw"></i> {{ i18n "openGPXinmap2gpx" }}</a>');
        })
    );
{{ end }}
{{ range $index, $element := .Resources.ByType "image" }}
    {{ with $element.Exif }}
    {{ if and (.Lat) (.Long) }}
        addMarker(L.latLng({{ .Lat }}, {{ .Long }}), {{ $index }});
    {{ end }}
    {{ end }}
{{ end }}
Promise.all(promises).then((values) => {
    if (bounds) map.fitBounds(bounds);
});
});
</script>
{{ end }}
