{{ define "gallery" }}
{{ $featured_image := partial "featureimage/bg.html" . }}
{{ $includeOriginalImage := default true (.Param "includeOriginalImage") }}
{{ $largeImageSize := default "2000x" (.Param "largeImageSize") }}

{{ if (default false ($.Site.Params.enableDownloadAll)) }}
<script>
$(document).ready(function () {
{{ with .Resources.ByType "image" }}
  {{ range . }}
    {{ if $includeOriginalImage }}
      addzipfile(zip, "{{ .Permalink | safeURL }}");
    {{ else }}
      {{ $large := .Resize $largeImageSize }}
      addzipfile(zip, "{{ $large.Permalink | safeURL }}");
    {{ end }}
  {{ end }}
{{ end }}
});
</script>
{{ end }}

<div class="col-lg-6 p-0" id="gallery-panel" style="background-image: url('{{ $featured_image }}');">
  <div class="container-fluid h-100 p-0">
    <div class="row h-100 p-0">
      <div class="col my-auto p-0">
        <ul class="split-grid list-unstyled">
          {{ with .Resources.ByType "image" }}
            {{ range . }}
              {{ $linkToThumbnail := partial "image-processing/thumbnail.html" . }}
              {{ $large := .Resize $largeImageSize }}
              {{ if $includeOriginalImage }}
                <li><a href="{{ .Permalink }}"
                    data-srcset="{{ .Permalink }} {{ .Width }}w, {{ $large.Permalink }} {{ $large.Width }}w"
                    data-fancybox="gallery"><img src="{{ $linkToThumbnail }}" /></a></li>
              {{ else }}
                <li><a href="{{ $large.Permalink }}"
                    data-srcset="{{ $large.Permalink }} {{ $large.Width }}w"
                    data-fancybox="gallery"><img src="{{ $linkToThumbnail }}" /></a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "main_content" }}
{{ $hasTracks := gt (len (.Resources.Match "*.gpx")) 0 }}

<p>{{ .Content }}</p>

{{ if $hasTracks }}
  {{ partial "map/single.html" . }}

  <script>
  $(document).ready(function () {
    {{ range $index, $element := .Resources.ByType "image" }}
    {{ with $element.Exif }}
      {{ if and (.Lat) (.Long) }}
        addMarker([{{ .Lat }}, {{ .Long }}], {{ $index }});
      {{ end }}
    {{ end }}
    {{ end }}
  });
  </script>
{{ end }}
{{ end }}

{{ define "lists" }}
<div class="col">
  <ul class="list-unstyled">
    <li><i class="fa fa-file fa-fw"></i> {{ i18n "publishedAt" (.Date.Format "2006-01-02") }}</li>
    {{ $dates := slice }}
    {{ with .Resources.ByType "image" }}
      {{ range . }}
        {{ with .Exif }}
          {{ $dates = $dates | append (.Date.Format "2006-01-02") }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if $dates }}
      <li><i class="fa fa-camera fa-fw"></i> {{ i18n "photosTakenOn" (delimit (sort (uniq ($dates))) ", ") }}</li>
    {{ end }}

    {{ $page := . }}
    {{ range where .Site.Pages "Kind" "taxonomy" }}
      {{ $icon := partial "icons/gettaxonomy.html" .Data.Plural }}
      {{ $key := .Data.Singular }}
      {{ $val := $page.Params.Get .Data.Plural }}
      {{ if $val }}
        {{- if not (reflect.IsSlice $val) -}}{{- $val = slice $val -}}{{- end -}}
        <li>
          <a href="{{ .Permalink }}">
            {{ if $icon }}<i class="fa fa-{{ $icon }} fa-fw"></i> {{ end }}
            {{ if gt (len $val) 1 }}
              {{ default .Data.Plural (i18n .Data.Plural) | humanize }}
            {{ else }}
              {{ default .Data.Singular (i18n .Data.Singular) | humanize }}
            {{ end }}
          </a> : 
          {{ range $index, $p := sort ($page.GetTerms .Data.Plural) "Page.Title" "asc" }}
            {{- if gt $index 0 }}, {{ end -}}
            <a href="{{ $p.Page.Permalink }}">{{ default $p.Page.Title (i18n (printf "%s-%s" $key $p.Page.Title)) }}</a>
          {{- end -}}
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
<div class="col">
  <ul class="list-unstyled">
    {{ $map2gpx := (default "en" ($.Site.Params.map2gpx)) }}
    {{ $tracks := .Resources.Match "*.gpx" }}
    {{ if gt (len $tracks) 1 }}
      {{ range $tracks }}
        <li><a href="{{ .Permalink }}"><i class="fa fa-map-signs fa-fw"></i> {{ i18n "downloadGPXfileWithName" .Name }}</a></li>
        {{ if $map2gpx }}
          <li><a href="https://{{ if eq $map2gpx "fr" }}map2gpx.fr{{ else }}map2gpx.eu{{ end }}?url={{ .Permalink }}"><i class="fa fa-map fa-fw"></i> {{ i18n "openGPXinmap2gpxWithName" .Name }}</a></li>
        {{ end }}
      {{ end }}
    {{ else if gt (len $tracks) 0 }}
      <li><a href="{{ (index $tracks 0).Permalink }}"><i class="fa fa-map-signs fa-fw"></i> {{ i18n "downloadGPXfile" }}</a></li>
      {{ if $map2gpx }}
        <li><a href="https://{{ if eq $map2gpx "fr" }}map2gpx.fr{{ else }}map2gpx.eu{{ end }}?url={{ (index $tracks 0).Permalink }}"><i class="fa fa-map fa-fw"></i> {{ i18n "openGPXinmap2gpx" }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ if (default false ($.Site.Params.enableDownloadAll)) }}
<div class="col">
  <ul class="list-unstyled"><li><button type="button" class="btn btn-link" onclick="dl(this);" data-filename="{{ .Title | urlize }}"><i class="fa fa-cloud-download fa-fw"></i> {{ i18n "downloadPhotos" }}</button></li></ul>
</div>
{{ end }}

{{ partial "seealso.html" . }}
{{ end }}
