{{ $leafpages := partial "getleafpages.html" . }}
{{ $leafpage := partial "getleafpage.html" . }}

{{ $translate := false }}
{{ $key := false }}
{{ if eq .Kind "taxonomy" }}
    {{ $translate = true }}
    {{ $key = .Data.Singular }}
{{ end }}

{{ if $leafpage }}
    {{ $featured_image := partial "featureimage/bg.html" $leafpage }}
    {{ if $featured_image }}
<div class="col-lg-6 p-0" id="gallery-panel" style="background-image: url('{{ $featured_image }}');">
    {{ else }}
<div class="col-lg-6 p-0" id="gallery-panel">
    {{ end }}
{{ else }}
<div class="col-lg-6 p-0" id="gallery-panel">
{{ end }}

    <div class="container-fluid h-100 p-0">
        <div class="row h-100 p-0">
            <div class="col my-auto p-0">
                <ul class="split-grid list-unstyled">
                    {{ range $leafpages }}
                        {{ $leafpage := partial "getleafpage.html" . }}
                        {{ if $leafpage }}
                            {{ $thumbnail := partial "featureimage/thumbnail.html" $leafpage }}
                            {{ $title := .Title }}
                            {{ if $translate }}{{ $title = default .Title (i18n (printf "%s-%s" $key .Title)) }}{{ end }}
                            <li>
                                <a href="{{ .Permalink }}" {{ if $thumbnail }}class="c4-izmir"{{ end }} title="{{ $title }}">
                                    {{ if $thumbnail }}
                                        <img src="{{ $thumbnail }}" alt="{{ $title }}" />
                                        <figcaption><h3>{{ $title }}</h3></figcaption>
                                    {{ else }}
                                        {{ warnf "Could not find featured image thumbnail for %s (%s)" .RelPermalink .Kind}}
                                        {{ $title }}
                                    {{ end }}
                                </a>
                            </li>
                        {{ else }}
                            {{ warnf "Could not find pages for %s (%s)" .RelPermalink .Kind}}
                        {{ end }}
                    {{ end }}
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>