{{ $leafpages := partial "getleafpages.html" . }}

{{ $showDate := false }}
{{ $showCount := false }}
{{ $showSection := false }}
{{ if eq .Kind "page" }}
    {{ warnf "Should not be called here"}}
{{ else if eq .Kind "term" }}
    {{ $showDate = true }}
    {{ $showSection = gt (len $.Site.Sections) 1 }}
{{ else if eq .Kind "taxonomy" }}
    {{ $showCount = true }}
{{ else if eq .Kind "section" }}
    {{ $showDate = true }}
{{ else if eq .Kind "home" }}
    {{ $showDate = true }}
    {{ $showSection = gt (len $.Site.Sections) 1 }}
{{ end }}

<ul>
    {{ range $leafpages }}
    <li>
        <a href="{{ .Permalink }}">{{ if and $showDate .Date }}{{ .Date.Format "2006-01-02" }} | {{ end }}{{ .Title }}</a>
        {{ if $showCount }}
            {{ len .Data.Pages }}
        {{ end }}
        {{ if $showSection }}({{ .Parent.Title }}){{ end }}
    </li>
    {{ end }}
</ul>
