{{ define "gallery" }}
  {{ $featured_image := false }}
  {{ with index .Site.RegularPages 0 }}
    {{ $featured_image = partial "featureimage/plain.html" . }}
  {{ end }}
  {{ if $featured_image }}
    <div class="col-lg-6 p-0" id="gallery-panel" style="background-image: url('{{ $featured_image }}');">
  {{ else }}
    <div class="col-lg-6 p-0" id="gallery-panel">
  {{ end }}
  <div class="container-fluid h-100 p-0">
  </div>
</div>
{{ end }}

{{ define "main_content" }}
<h1>{{ i18n "error404" }}</h1>
{{ end }}