{{ define "main_left" }}
{{ partial "grid.html" . }}
{{ end }}

{{ define "main_right" }}
{{ partial "map/list.html" . }}
{{ partial "list.html" . }}
{{ end }}

{{ define "lists" }}
  {{ if gt (len $.Site.Sections) 1}}
  <div class="col">
    <h3>{{ i18n "sections" }}</h3>
    <ul>
    {{ range $.Site.Sections }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> {{ len .Pages }}</li>
    {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
    {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
      <div class="col">
        {{ $icon := partial "icons/gettaxonomy.html" $taxonomy_term }}
        <h3>
          <a href="{{ .Permalink }}">
            {{ if $icon }}<i class="fa fa-{{ $icon }} fa-fw"></i> {{ end }}
            {{ $taxonomy_term | humanize }}
          </a>
        </h3>
        <ul>
          {{ range $taxonomy.Alphabetical }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}
{{ end }}