{{ $linkToCover := false }}
{{ $featured_images := .Param "images" }}
{{ if $featured_images }}
    {{ $img := .Resources.GetMatch (index $featured_images 0) }}
    {{ if $img }}
        {{ $linkToCover = partial "image-processing/bg-filter.html" $img }}
    {{ end }}

    {{ if not $linkToCover }}
        {{ $headlessBundle := partial "featureimage/shared.html" . }}
        {{ with .Site.GetPage $headlessBundle }}
            {{ $img := .Resources.GetMatch (index $featured_images 0) }}
            {{ if $img }}
                {{ $linkToCover = partial "image-processing/bg-filter.html" $img }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ if not $linkToCover }}
    {{ warnf "Could not find featured image for %s (%s)" .RelPermalink .Kind}}
{{ end }}
{{ return $linkToCover }}
