{{ $linkToThumbnail := false }}
{{ $featured_images := .Param "images" }}
{{ if $featured_images }}
    {{ $page := partial "getdefaultlangpage.html" . }}
    {{ $img := $page.Resources.GetMatch (index $featured_images 0) }}
    {{ if $img }}
        {{ $linkToThumbnail = partial "image-processing/thumbnail.html" $img }}
    {{ end }}

    {{ if not $linkToThumbnail }}
    {{ $headlessBundle := partial "featureimage/shared.html" . }}
        {{ with .Site.GetPage $headlessBundle }}
            {{ $img := .Resources.GetMatch (index $featured_images 0) }}
            {{ if $img }}
                {{ $linkToThumbnail = partial "image-processing/thumbnail.html" $img }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ if not $linkToThumbnail }}
    {{ warnf "Could not find featured image for %s (%s)" .RelPermalink .Kind}}
{{ end }}
{{ return $linkToThumbnail }}
